body {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../img/home.png);
    background-size: cover;
    background-blend-mode: color;
    font-family: system-ui;
    height: 100%;
    caret-color: transparent;
}

#champions_logo {
    width: 139px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#team_name_input {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.team_form_wrapper {
    color: white;
    display: flex;
    justify-content: space-between;
}

#team_a {
    margin-right: 400px;
}

.grid {
    display: grid;
}

#team_a th {
    border: 1px solid #64C1A7 !important;
    background: #64C1A7;
    outline: 1px solid;
    outline-offset: 5px;
    outline-color: #64C1A7;
    width: 350px;
    font-size: 30px;
}

#team_b th {
    border: 1px solid #F85B60 !important;
    background: #F85B60;
    outline: 1px solid;
    outline-offset: 5px;
    outline-color: #F85B60;
    width: 350px;
    font-size: 30px;
}

.team_form select {
    width: 100%;
    font-size: 25px;
    margin-top: 20px;
}

#team_form_complete {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#team_form_complete button {
    top: 85%;
    font-size: 40px;
    background-color: gainsboro;
    outline: 1px solid;
    outline-offset: 5px;
    outline-color: gainsboro;
}

.team_banner {
    font-size: 25px;
    display: grid;
    margin-top: 40px;
    font-weight: bolder;

}

.team_banner.team_member_a td {
    background-color: #64C1A7;
}

.team_banner.team_member_b {
    background-color: #F85B60;
}

.banner_icon {
    width: 30px;
    height: 30px;
    position: absolute;
}

.fade-in-left {
    animation: fadein-left 1.5s 0 ease-out forwards;
    opacity: 0;
    transform: translateX(-20px);
}

@keyframes fadein-left {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.team_a_color{
    color: #64C1A7;
}

.team_b_color{
    color: #F85B60
}

.select_map {
    border: none;
}

.team_name_top {
    border: whitesmoke solid 1px;
    background-color: black;
}

.team_name{
    font-size: 20px;
    font-weight: bolder;
}

.map_img {
    width: 300px;
    height: 300px;
}

.map_pick_wrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#map_list {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.map_list_wrapper {
    display: flex;
    justify-content: center;
}

.pick_map{
    border: #A49662 double 7px;
}

.map_list_img {
    width: 250px;
    height: 250px;
}

.banned {
    display: block;
    position: absolute;
    width: 300px;
    height: 300px;
}

.banned::before, .banned::after {
    /* 共通設定 */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    /* 棒の幅（太さ） */
    height: 10px;
    /* 棒の高さ */
    background: red;
}

.banned::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.banned::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.map_ban_decision_button, .start_side_decision_button{
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 30px;
color: white;
background-color: #64C1A7;
outline: 1px solid;
outline-offset: 3px;
outline-color: #64C1A7;
width: 30%;
}

.map_ban_decision_button.cancel, .start_side_decision_button.cancel{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    background-color: indianred;
    outline: 1px solid;
    outline-offset: 3px;
    outline-color: indianred;
    width: 30%;
}

.start_side_wrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#start_side {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.start_side_wrapper {
    display: flex;
    justify-content: center;
}

.pick_map{
    border: #A49662 double 5px;
}

.start_side_top {
    border: whitesmoke solid 1px;
    background-color: black;
}

.start_side_img {
    width: 250px;
    height: 250px;
}

#select_start_side_team_name{
    font-size: 25px;
}